/* CSS declarations go here */

.modal, .modal.fade.in, .modal.body {
    top: 10%; /* was 10% */
    left: 50%;
    max-height: 400px;
    overflow: inherit;
}

div.datepicker {
    z-index: 2050 !important;
 }

/* Navigationbar style */
#login {
	padding-top: 10px;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 0;
}

/* body style */
body {
	min-width: 800px;
	padding-top: 50px; /* To make stuff not hide behind navbar-fixed-top */ 
}

/* mainWindow template styles */
div#mainLeft {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 25%; 
}

div#mainMiddle {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 50%; 
}

div#mainRight {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 25%; 
}

/* Chatroom style */
#chat {
	border: 2px;
	height: 50px;
	padding-right: 8px;
	padding-bottom: 8px;
	overflow: auto;
}

div#shippingMsg {
	float: left;
	width: 100%;
}

/* Leaflet map settings */
#map { 
	height: 300px; 
}

/* fullMap style */
#fullmap {
	width: 100%;
	height: 500px;
}
/* Hydro/Meteo styles */
div#hydroMainWindow {
	min-width: 800px;
	width: 100%;
	padding: 20px;
}

div#tempSum {
	float: left;
	padding: 5px;
	width: 200px;
}

/* Manifest styles */
div#maniSum {
	float: left;
	width: 100%;
}

div#maniDetails {
	float: left;
	width: 100%;
}
