/* CSS declarations go here */

body {
	min-width: 800px;
	padding-top: 50px; /* To make stuff not hide behind navbar-fixed-top */ 
}

div#mainLeft {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 30%; 
}

div#mainMiddle {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 50%; 
}

div#mainRight {
	min-width: 200px;
	float: left; 
	padding: 20px;
	width: 20%; 
}

div#shippingMsg {

	float: left;

}

#login {
	padding-top: 10px;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 0;
}