<!-- This is the call summary window which is displayed on the mainwindow -->

<template name="addCall">
  <div class="btn-group">                 
    <!-- <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        <span>Call aanmaken</span>
        <span class="caret"></span>
    </a> -->
    <ul class="dropdown-menu callForm">
			{{> addCallForm}}
    </ul>
   </div><!-- /.btn-group -->
</template>

<template name="addCallForm">	
  <div name="callForm" style="padding: 5px; width:200px;">
    <ul name="callFormList" class="unstyled">
    	<li>Locatie: <input type="text" class="input-small location"></li>
    	<li>Datum: {{> datePicker}}</li>
      <li>Tijd: {{> timePicker}}</li>
    	<li>Type: <input type="text" class="input-small type"></li>
    	<li>Verwachte duur: {{> durationPicker}}</li>
    	<li><button class="submit">Voeg toe</button></li>
    </ul>
  </div>
</template>

<template name="datePicker">
	<input type="text" value="01-01-2000" data-date-format="mm-dd-yyyy" class="input-small datepicker">
</template>

<template name="timePicker">
  <div class="input-append bootstrap-timepicker">
    <input id="timepicker1" type="text" class="input-small timepicker">
  </div>
</template>

<template name="durationPicker">
	<!-- Input type should only be numbers only Opera supports numbers-->
	<input type="text" class="input-small duration">
</template>


