<template name="chatroom">
	<legend><h5>Chatroom</h5></legend>
	<div class="containter-fluid">
		<div class="chat" style="height: 150px; overflow: auto;">
			{{#each msgs}}
			<p><i class="text-info">{{owner}}</i> {{action}}: {{msg}}</p>
			{{/each}}
		</div>
		{{#constant}}
		<div>
			<table>
				<tr><td width="80%">
            <textarea rows="2" type="text" class="msg" ></textarea></td>
            <td span="2"><button class="msg-send btn btn-small">
                Verzend
            </button></td></tr>
        </table>
        </div>
        {{/constant}}
	</div>
</template>