<template name="chatroom">
	<div id="chatroom">
		<div class="well well-small conversationlist">
			{{> conversations}}
		</div> <!-- /. well well-small -->

		<div class="well well-small conversation">
			{{> conversation}}
		</div> <!-- /. well well-small -->
	</div> <!-- /. chatroom -->
</template>

<!-- SHOW ALL ACTIVE CONVERSATION GROUPS -->
<template name="conversations">
	<button class="newConv btn btn-default btn-xs"><i class="icon-comment"></i> Nieuw gesprek</button>
	<button class="newGrp btn btn-default btn-xs"><i class="icon-plus-sign"></i> Nieuwe groep</button>
	<legend>Gesprekken</legend>

	<div class="list-group">
		{{#each getActiveConv}}
			<a href="" id="{{_id}}" class="list-group-item conv"><H5>{{getConvName}}<br><small>{{msg}} - {{name}}</small></H5></a>
		{{/each}}
	</div>

	<!-- Modal to add a new conversation-->
	<div id="newConvModal" class="modal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Nieuw gesprek</h3>
		</div>
		<div class="modal-body">
			<div class="list-group">
				<!-- zit geen database collectie achter -->
				{{#each getUsers}}
					<a href="" id="{{_id}}" class="list-group-item startNewConv"><b>{{name}}</b></a>
				{{/each}}
			</div>			
		</div>
	</div> <!-- /. Modal -->

	<!-- Modal to add a new group conversation-->
	<div id="newGrpModal" class="modal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Nieuwe groep</h3>
		</div>
		<div class="modal-body">
			<div class="list-group">
				<!-- zit geen database collectie achter -->
				{{#each getUsers}}
					<a href="" id="{{_id}}" class="list-group-item startNewConv"><b>{{name}}</b></a>
				{{/each}}
			</div>			
		</div>
	</div> <!-- /. Modal -->
</template>

<!-- SHOW THE SPECIFIC CONVERSATION MESSAGES -->
<template name="conversation">
	<div id="messContainer" height="100%" class="containter-fluid">
		<legend>{{getConvName}}</legend>
		{{> chatMessages}}
	</div>

	{{#constant}}
	<div class="msgCommands">
		<table cellpadding="10">
			<tr>
				<td width="80%">
        			<textarea rows="2" type="text" class="msg"></textarea>
    			</td>
        		<td width="10%">
        			<button class="msg-send btn btn-default"><i class="icon-pencil"></i> Verzend</button>
        		</td>
        	</tr>
        </table>
    </div> <!-- /. msgCommands -->
    {{/constant}}
</template>

<template name="chatMessages">
	<div class="chat" style="height: 300px; overflow: auto;">

		{{#each msgs}}
		{{#if dateBarCheck date}}
			<table class="table" width="100%">
				<tr class="success">
					<td style="text-align: center"><small><b>{{getDateBar date}}</b></small></td>
				</tr>
			</table>
		{{/if}}
		<table class="table" style="padding: 2px" width="100%">
			<tr class="info">
				<td style="vertical-align: top;">
					<small>{{passTime date}}</small><br>
				</td>
				<td width="90%">
					{{msg}}<br>
					<small><i class="muted"> - {{name}}</i></small>
				</td>
			</tr>
		</table>
		{{/each}}
	</div>
</template>