<template name="chatroom">
	<legend><h5>Chatroom</h5></legend>
	<div class="containter-fluid">
		<div class="chat" style="height: 150px; overflow: auto;">
			{{#each msgs}}
			<table class="table" style="padding:2px;" width="100%">
				<tr class="success">
					<td style="vertical-align: top;">
						<small>{{passTime date}}</small>
					</td>
					<td width="90%">
						{{msg}}<br>
						<small><i class="muted"> - {{owner}}</i></small>
					</td>
				</tr>
			</table>
			{{/each}}
		</div>
		{{#constant}}
		<div>
			<table>
				<tr><td width="80%">
            <textarea rows="2" type="text" class="msg" ></textarea></td>
            <td span="2"><button class="msg-send btn btn-small">
                Verzend
            </button></td></tr>
        </table>
        </div>
        {{/constant}}
	</div>
<!-- 
	<table border="1" padding="5px">
		<tr>
			<td style="vertical-align: top;">
				<small>10:33</small>
			</td>
			<td>
				<p>bladiebla<br>
					basd<br>
					sadsda<br>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="align-text: right">
				<small><i class="icon-user"></i> <i class="muted">Arno Kerkmeijer</i></small>
			</td>
		</tr>
	</table> -->
</template>