<template name="hydroMeteo">

	<div name="hydroMainWindow" id="meteoContainer" width="100%" class="well well-small">
		<div name="container" width="100" style="float: left">
			<legend>Temperatuur</legend>
			{{> tempWindow}}
		</div>
		<div name="container" width="700" style="float: right">
			<legend>Getijden</legend>
			{{> weatherChart}}
		</div>
		{{> weatherMap}}
	</div> <!-- /.hydroMainWindow -->
</template>

<template name="tempWindow">
	<div name="tempSum">
		{{#if getWeatherInfo}}
			<table cellpadding="5">
				<tr>
					<td colspan="2">
						{{getWeatherInfo.location}}<br>
						<img src="http://openweathermap.org/img/w/{{getWeatherInfo.iconID}}.png" width="75" hight="75"> {{getWeatherInfo.temperature}}&deg;C
					</td>
				</tr>
				<tr>
					<td><b>Luchtvochtigheid:</b></td>
					<td>{{getWeatherInfo.humidity}}%</td>
				</tr>
				<tr>
					<td><b>Windsnelheid:</b></td>
					<td>{{getWeatherInfo.windspeed}} Km/h</td>
				</tr>
			</table>
		{{else}}
			<p>Niet beschikbaar</p>
		{{/if}}
	</div> <!-- /. tempWindow -->
</template>

<template name="weatherChart">
	<div name="Chart" width="700" class="wChart">
		<p><b>Locatie: </b>{{getijden.location}}
		<b>Datum: </b>{{getijden.date}}
		<b>Waterstand t.o.v. NAP: </b><p>
		<canvas id="tideChart" width="700" height="200"></canvas>
	</div> <!-- /.weatherChart -->
</template>

<template name="weatherMap">
	<div name="weatherMapContainer">
		<legend>Weer kaart</legend>
		<div id="map"></map>
	</div> <!-- /. weatherMap -->
</template>
