<template name="log">
	{{> logActivity}}
	{{> logHistory}}
</template>

<template name="logActivity">
	<div class="well well-large">
		<legend>Activiteit</legend>
		<!-- FUTURE CALLS -->
		{{#if futureCalls}}
		<table id="futureCalls" class="table" width="100">
			<thead>
				<tr>
					<td>Locatie</td>
					<td>Via</td>
					<td>Aankomst</td>
					<td>Aanvang</td>
					<td>Vertek</td>
					<td>Lossen</td>
					<td>Laden</td>
					<td>Omstuw</td>
					<td>Gasoliestand</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			{{#each futureCalls}}
				<tr>
					<td>{{this.locationlabel}}</td>
					<td><!-- not known --></td>
					<td>{{getDate this.callstartdate}}</td>
					<td><!-- not known --></td>
					<td>{{getDate this.callenddate}}</td>
					<td>{{this.unload}}</td>
					<td>{{this.load}}</td>
					<td>{{this.omstuw}}</td>
					<td><!-- not known --></td>
					<td><button class="btn btn-default moveRow"><i class="icon-edit"></i></button></td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		{{/if}}
		<!-- /. FUTURE CALLS -->

		<!-- FORM TABLE -->
		<table id="activityFormTable" class="table" width="100%">
			<thead>
				<tr>
					<td>Locatie</td>
					<td>Via</td>
					<td>Aankomst</td>
					<td>Aanvang</td>
					<td>Vertek</td>
					<td>Lossen</td>
					<td>Laden</td>
					<td>Omstuw</td>
					<td>Gasoliestand</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select id="terminal" class="form-control" style="width:100px">
							{{#each locations}}
								<option value="{{this.name}}">{{this.name}}</option>
							{{/each}}
						</select>
					</td>
					<td>
						<select id="via" class="form-control" style="width:100px">
							<option value=""></option>
							{{#each locations}}
								<option value="{{this.name}}">{{this.name}}</option>
							{{/each}}
						</select>
					</td>
					<td>
						<div id="ariveTimepicker" class="input-append date">
						    <input id="ariveTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
					<td>
						<div id="startTimepicker" class="input-append date">
						    <input id="startTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
			  		<td>
						<div id="departTimepicker" class="input-append date">
						    <input id="departTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="unload" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="load" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="omstuw" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:70px" type="number" id="fuel" placeholder=""></td>
			  		<td><button id="saveAct" class="btn btn-default" style="height:34px"><i class="icon-ok-circle"></i> Opslaan</button></td>
				</tr>								
			</tbody>
		</table>
	</div>
</template>

<template name="logHistory">
	<div class="well well-large">
		<legend>Activiteiten historie</legend>
		<table id="activityHistoryTable" class="table" width="100%">
			<thead>
				<tr>
					<td>Locatie</td>
					<td>Via</td>
					<td>Aankomst</td>
					<td>Aanvang</td>
					<td>Vertek</td>
					<td>Lossen</td>
					<td>Laden</td>
					<td>Omstuw</td>
					<td>Gasoliestand</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select id="editTerminal" class="form-control" style="width:100px">
							{{#each locations}}
								<option value="{{this.name}}">{{this.name}}</option>
							{{/each}}
						</select>
					</td>
					<td>
						<select id="editVia" class="form-control" style="width:100px">
							<option value=""></option>
							{{#each locations}}
								<option value="{{this.name}}">{{this.name}}</option>
							{{/each}}
						</select>
					</td>
					<td>
						<div id="editAriveTimepicker" class="input-append date">
						    <input id="editAriveTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
					<td>
						<div id="editStartTimepicker" class="input-append date">
						    <input id="editStartTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
			  		<td>
						<div id="editDepartTimepicker" class="input-append date">
						    <input id="editDepartTime" data-format="dd-MM-yyyy hh:mm" type="text" style="font-size:10px;height:34px;width:115px"></input>
						    <span class="add-on" style="height:34px">
						      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						    </span>
					  	</div>
			  		</td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="editUnload" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="editLoad" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:50px" type="number" id="editOmstuw" placeholder=""></td>
			  		<td><input class="form-control input-sm" style="height:34px;width:70px" type="number" id="editFuel" placeholder=""></td>
					<td>
						<button class="btn btn-default btn-xs saveRow">Wijzig</button>
					</td>
				</tr>
				{{#each getHistory}}
				<tr>
					<td>{{this.locationlabel}}</td>
					<td>{{this.vialabel}}</td>
					<td>{{getDate this.callarivetime}}</td>
					<td>{{getDate this.callstarttime}}</td>
					<td>{{getDate this.callendtime}}</td>
					<td>{{this.unload}}</td>
					<td>{{this.load}}</td>
					<td>{{this.omstuw}}</td>
					<td>{{this.fuel}}</td>
					<td>
						<button class="btn btn-default btn-xs editRow"><i class="icon-edit"></i></button>
						<!-- <button class="btn btn-default btn-xs saveRow">Opslaan</button> -->
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
