<template name="mainWindow">
	<div id="mainLeft">
		<div name="nextCall" id="nextCall" class="well well-small">
			{{> upcomingCall}}
		</div><!-- /.nextCall -->

	</div><!-- /.mainLeft -->

	<div id="mainMiddle">
		<div name="mapSum" class="well well-small">
				{{> mapSummary}}
		</div> <!-- /.mapSum -->
	</div><!-- /.mainMiddle -->

	<div id="mainRight">
		<div name="conditionSummary" class="well well-small">
			{{> conditionSummary}}
		</div><!-- /.conditionSummary -->
		<div id="nextObstacle" class="well well-small">
			{{> nextObstacle}}
		</div><!-- /.conditionSummary -->
	</div><!-- /.mainRight -->

	<div name="shippingMessages" id="shippingMsg" class="well well-small">
		{{> shippingMessages}}
	</div><!-- /.shippingMessages -->
</template>