<template name="manifest">
	<div name="maniSum" class="well well-small">
		<legend>Manifest overzicht</legend>
		<ul class="unstyled">
			<li>Manifest mmsi: {{getManiInfo.mmsi}}</li>
			<li>Start: {{getStartEnd.manifestStart}}</li>
			<li>Eind: {{getStartEnd.manifestEnd}}</li>
		</ul>
	</div>

	<div name="maniDetails" class="well well-small">
		<legend>Manifest details</legend>
		{{> plannedManifest}}
	</div>
</template>

<template name="plannedManifest">
	{{#if getManifest}}
		<table width="100%"><tr><td width="30%">Call</td><td width="70%">Aankomst</td></tr><table>
		<div class="accordion" id="accordion2">
			{{#each getManifest}}
			 	<div class="accordion-group">
    				<div class="accordion-heading">
      					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{this._id}}">
        					<table width="100%"><tr><td width="30%">{{this.title}}</td><td width="70%">{{convertTime this.start}}</td></tr><table>
      					</a>
    				</div>
	    			<div id="{{this._id}}" class="accordion-body collapse">
			      		<div class="accordion-inner">
			        		call informatie...
			      		</div>
	    			</div>
  				</div>
			{{/each}}
		</div> <!-- ./ accordion -->
	{{else}}
		<p>Geen manifest bekend</p>
	{{/if}}
</template>