<template name="manifest">
	<div name="maniSum" class="well well-small">
		<legend>Manifest overzicht</legend>
		{{#if getManiInfo}}
		<ul class="unstyled">
			<li>Manifest mmsi: {{getManiInfo.uniqueresourceid}}</li>
			<li>Start: {{convertTime getStartEnd.manifestStart}}</li>
			<li>Eind: {{convertTime getStartEnd.manifestEnd}}</li>
		</ul>
		{{else}}
		<p>Geen manifest bekend</p>
		{{/if}}
	</div>

	<div name="maniDetails" class="well well-small">
		<legend>Manifest details</legend>
		{{> plannedManifest}}
	</div>
</template>

<template name="plannedManifest">
	{{#if getManifest}}
		<table width="100%">
			<tr>
				<td width="20%"><b>Datum</b></td>
				<td width="20%"><b>Call</b></td>
				<td width="20%"><b>Lossen</b></td>
				<td width="20%"><b>Laden</b></td>
				<td width="20%"><b>Call eigenaar</b></td>
			</tr>
		<table>

		<div class="accordion" id="accordion2">
			{{#each getManifest}}
			 	<div class="accordion-group">
    				<div class="accordion-heading">
      					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{this._id}}">
        					<table width="100%">
        						{{#if checkActive this.callstartdate this.callenddate}}
        						<tr style="background-color: white">
    							{{else}}
        						<tr style="">
    							{{/if}}
        							<td width="20%">{{convertTime this.callstartdate}}</td>
        							<td width="20%">{{this.locationlabel}}</td>    
        							<td width="20%">{{this.unload}}</td>
        							<td width="20%">{{this.load}}</td>
        							<td width="20%">{{this.callowner}}</td>
        						</tr>
    						</table>
      					</a>
    				</div>
	    			<!-- <div id="{{this._id}}" class="accordion-body collapse">
			      		<div class="accordion-inner">
			        		call informatie...
			      		</div>
	    			</div> -->
  				</div>
			{{/each}}
		</div> <!-- ./ accordion -->
	{{else}}
		<p>Geen manifest bekend</p>
	{{/if}}
</template>